# Web app framework
streamlit

# LangChain libraries
langchain
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langgraph

# Console formatting
rich

# Vector database
pinecone

# Logging and debugging
logging

# Browser automation
playwright

# Typing extensions
typing-extensions

# File handling
python-docx

# PDF handling
PyPDF2